.equipments {
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid $bordercolor;
    display: flex;
    .equipment-details {
        display: inline-block;
        line-height: 10px;
        .image {
            @include imagecontainer;
            img {
                @include imagecontainer_img;
            }
        }
        .equipment-type {
            position: relative;
            padding: 5px 0;
            text-align: center;
            color: $disabled;
            line-height: 1.2em;
        }
    }
    .equipment-info {
        align-self: center;
        .equipment-name {
            margin-left: 6px;
            font-size: 1.2em;
            font-weight: 500;
            color: $primary;
        }
        .equipment-attr {
            margin-left: 6px;
            .equipment-type_ {
                color: $accent;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 0.9em;
            }
        }
        .equipment-stats {
            margin-left: 2px;
            margin-top: 3px;
            ul {
                li {
                    font-size: 0.9em;
                    line-height: 1.5em;
                    color: $black;
                    position: relative;
                    padding-left: 14px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 0;
                        height: 0;
                        margin-top: 6px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 7px;
                        border-color: transparent transparent transparent $accent;
                    }
                }
            }
        }
    }
}